body {
    background-color: #c2d2e9;
}

fieldset {
    background-color: #5e83ba;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    width: 50%;
}

fieldset label {
    font-size: 25px;
    margin: 10px;
    padding: 5px;
    color: seashell;
}

fieldset input {
    border-radius: 4px;
}

div {
    margin: 2px;
    padding: 5px;
}

div p {
    font-size: 20px;
}

#btn {
    margin: 15px;
    padding: 30px;
    background-color: #3a4e7a;
    color: azure;
    border-radius: 7px;
    border-style: outset;
    font-size: 17px;
}

#btn:hover {
    background-color: #3a4e7a;
    font-style: oblique;
    opacity: 0.5;
}